.chart-wrapper {
  display: flex;
  justify-content: space-between;
}

.chart-wrapper canvas {
  width: 100% !important;
}

.chart-sidebar {
  /* color: #eee; */
  /* background-color: #424242; */
  display: flex;
  flex-direction: column;
  width: 12vw;
  position: absolute;
  padding: 1vw;
  border-radius: 0.25rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 1vw !important;
  background-color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.chart-config {
  left: -12vw;
}

.data-list {
  right: -12vw;
  /* background-color: antiquewhite; */
}

.data-point {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.1vh 0;
  border-top: 1px solid #ddd;
}

.data-point.first {
  border-top: 0;
}

.chart-sidebar input,
.chart-sidebar select {
  /* color: #212121; */
  /* border: 1px solid #eee !important; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 0.25rem;
  border: 0;
  padding: 0.5rem 1rem;
}
.chart-sidebar input:focus,
.chart-sidebar select:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 1) !important;
  outline: 0;
}
