<div class="chart-wrapper">
    <form class="chart-sidebar" [formGroup]="config">
        <h4>Chart config</h4>
        <label for="">
            <p>Type</p>
            <select name="type" id="" formControlName="type">
                <option value="line">Line</option>
                <option value="bar">Bar</option>
            </select>
        </label>
        <label for="">
            <p>Resolution</p>
            <input type="number" name="resolution" id="" formControlName="resolution">
        </label>
    </form>
    <canvas baseChart [type]="chartType" [data]="lineChartData" [options]="lineChartOptions" [legend]="lineChartLegend">
    </canvas>
</div>