.chart-wrapper {
  display: flex;
  justify-content: space-between;
}

.chart-wrapper canvas {
  width: 100% !important;
}

.chart-sidebar {
  color: #eee;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  width: 12vw;
  position: absolute;
  left: -12vw;
  padding: 1vw;
}

.chart-sidebar input,
.chart-sidebar select {
  color: #212121;
  width: 100%;
}
