<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success margin-r-xl" (click)="onSave()"
                        [disabled]="!recipeForm.valid">Save</button>&nbsp;
                    <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>&nbsp;
                    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name"></label>
                        <input type="text" name="name" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image"></label>
                        <input type="text" name="image" id="image" class="form-control" formControlName="imagePath"
                            #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description"></label>
                        <textarea type="text" name="description" id="description" class="form-control"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row"
                        *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index"
                        [formGroupName]="i">
                        <div class="col-xs-6">
                            <input type="text" name="ingredient" id="name" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" name="amount" id="amount" class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" name="unit" id="unit" class="form-control" formControlName="unit">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>