.shopping-list-edit {
  position: absolute;
  background-color: white;
  z-index: 10;
  width: 60%;
  left: 20%;
  top: 10vh;
  padding: 1vw;
  border-radius: 1rem;
  margin: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.button-row button {
  margin-right: 0.5vw;
}

.close-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h3 {
  text-align: left;
  width: 90%;
}

.close-button {
  border: 0;
  background-color: white;
  font-size: 1.5em;
}
